h1, h2, p{
    text-align: center;
}


.circle-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit:cover;
    }
.imag {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.iconos 
{
  font-size: 35px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap:10px;
  color: black;
}

.iconos i
{
    color:black;
}
